.resetPasswordSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 50px 0;
}

.resetPasswordSection h2 {
  font-size: 26px;
  font-weight: 600;
}

.resetPasswordContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
}

.resetPasswordContainer p {
  font-size: 14px;
  font-weight: 400;
  color: var(--muted-text);
}

.resetPasswordContainer form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.resetPasswordContainer form input {
  padding: 20px;
  border: 2px solid var(--border-soft);
  outline-color: var(--foreground);
}

.resetPasswordContainer form button {
  padding: 20px;
  background-color: var(--foreground);
  color: var(--background);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}

.resetPasswordSection p {
  font-size: 14px;
  font-weight: 400;
  color: var(--muted-text);
}

.resetPasswordSection p a {
  color: var(--foreground);
}

@media screen and (max-width: 450px) {
  .resetPasswordContainer {
    width: 90%;
  }
}